
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.characters-page-4-ejy {
  overflow: hidden;
  background-color: #a4a0a0;
  width: 100%;
  height: 102.4rem;
  position: relative;

  .rectangle-18-ijq {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #c65b5b;
    width: 144rem;
    height: 4.5rem;
  }
  .rectangle-20-EiB {
    width: 144rem;
    height: 12.4rem;
    position: absolute;
    left: 0;
    top: 4.6rem;
    background-color: #8dac35;
  }
  .inkverse-NpP {
    line-height: 1.2102272034;
    letter-spacing: 0.3rem;
    color: #000000;
    cursor: pointer;
    position: absolute;
    font-weight: 400;
    white-space: nowrap;
    left: 6rem;
    top: 0;
    font-family: Inter, 'Source Sans Pro';
    align-items: baseline;
    width: 12.9rem;
    height: 3.8rem;
    font-size: 3rem;
    display: flex;

    .inkverse-NpP-sub-0 {
      font-weight: 400;
      line-height: 1.2125;
      letter-spacing: 0.3rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3rem;
    }
    .inkverse-NpP-sub-1 {
      font-weight: 400;
      line-height: 1.25;
      letter-spacing: 0.3rem;
      color: #000000;
      font-family: Sedgwick Ave Display, 'Source Sans Pro';
      font-size: 3rem;
    }
    .inkverse-NpP-sub-2 {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.25;
      letter-spacing: 0.3rem;
      color: #fe811d;
      font-family: Sedgwick Ave Display, 'Source Sans Pro';
    }
    .inkverse-NpP-sub-3 {
      letter-spacing: 0.3rem;
      color: #000000;
      font-family: Sedgwick Ave Display, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.25;
    }
  }
  .image-1-CqM {
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 5.1rem;
    height: 4.3rem;
    cursor: pointer;
    position: absolute;
  }
  .rectangle-22-kM5 {
    position: absolute;
    left: 0;
    top: 16.9rem;
    background-color: #9fb8b8;
    width: 30rem;
    height: 85.2rem;
  }
  .rectangle-45-Hbu {
    top: 16.9rem;
    background-color: #d9d9d9;
    width: 114rem;
    height: 85.5rem;
    position: absolute;
    left: 30rem;
  }
  .rectangle-24-dfm {
    top: 23rem;
    background-color: #d9d9d9;
    width: 97.9rem;
    height: 73.1rem;
    position: absolute;
    left: 38.7rem;
  }
  .white-paper-texture-1-ZJX {
    width: 98.4rem;
    height: 73.1rem;
    position: absolute;
    left: 38.7rem;
    top: 23rem;
    object-fit: cover;
    vertical-align: top;
  }
  .scenes-gtw {
    font-weight: 400;
    position: absolute;
    display: flex;
    line-height: 1.2125;
    height: 3.1rem;
    top: 0.5rem;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 8.7rem;
    cursor: pointer;
    left: 21.95rem;
    font-size: 2.5rem;
    white-space: nowrap;
  }
  .characters-z8w {
    height: 3.1rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.5rem;
    font-weight: 700;
    width: 13.7rem;
    left: 34.35rem;
    top: 0.5rem;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .items-HNw {
    justify-content: center;
    font-weight: 400;
    white-space: nowrap;
    width: 6.5rem;
    top: 0.5rem;
    display: flex;
    align-items: center;
    line-height: 1.2125;
    color: #000000;
    height: 3.1rem;
    cursor: pointer;
    position: absolute;
    left: 52.85rem;
    font-size: 2.5rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .shapes-zYF {
    position: absolute;
    align-items: center;
    font-size: 2.5rem;
    width: 8.8rem;
    font-weight: 400;
    line-height: 1.2125;
    left: 66.6rem;
    top: 0.1rem;
    justify-content: center;
    color: #000000;
    white-space: nowrap;
    height: 3.1rem;
    cursor: pointer;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
  }
  .rectangle-25-hBm {
    left: 129.7rem;
    top: 0;
    background-color: #d9d9d9;
    border-radius: 10rem;
    width: 14.3rem;
    height: 4.5rem;
    position: absolute;
  }
  .upload-1y9 {
    left: 132.25rem;
    font-style: italic;
    height: 3.1rem;
    display: flex;
    align-items: center;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    line-height: 1.2125;
    top: 0.7rem;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
    width: 8.6rem;
  }
  .rectangle-27-KD9 {
    position: absolute;
    left: 3.9rem;
    top: 25.1rem;
    background-color: #fffdfd;
    width: 22.1rem;
    height: 14.8rem;
  }
  .rectangle-28-SoZ {
    position: absolute;
    left: 3.9rem;
    top: 44.7rem;
    background-color: #fffdfd;
    width: 22.1rem;
    height: 14.8rem;
  }
  .rectangle-29-aum {
    height: 14.8rem;
    position: absolute;
    left: 3.9rem;
    top: 64.3rem;
    background-color: #fffdfd;
    width: 22.1rem;
  }
  .page-1-8RV {
    height: 1.8rem;
    left: 18rem;
    font-weight: 300;
    color: #000000;
    font-family: Inria Sans, 'Source Sans Pro';
    width: 4rem;
    position: absolute;
    top: 40.1rem;
    font-size: 1.5rem;
    line-height: 1.1975;
    white-space: nowrap;
  }
  .page-2-3HZ {
    font-size: 1.5rem;
    line-height: 1.1975;
    color: #000000;
    font-family: Inria Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 4.2rem;
    position: absolute;
    top: 59.7rem;
    height: 1.8rem;
    left: 18.3rem;
    font-weight: 300;
  }
  .page-3-kSs {
    height: 1.8rem;
    position: absolute;
    left: 18.3rem;
    top: 79.3rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #000000;
    width: 4.2rem;
    white-space: nowrap;
    font-family: Inria Sans, 'Source Sans Pro';
    line-height: 1.1975;
  }
  .image-2-TMH {
    height: 11.9rem;
    position: absolute;
    left: 29.6rem;
    top: 4.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 6.4rem;
  }
  .image-3-bCb {
    position: absolute;
    left: 3.9rem;
    top: 5.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 5.9rem;
    height: 11.1rem;
  }
  .item-103-1-XM9 {
    height: 12.3rem;
    position: absolute;
    left: 83.3rem;
    top: 5rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.4rem;
  }
  .item-103-2-46B {
    width: 6.9rem;
    height: 11.9rem;
    position: absolute;
    left: 55.8rem;
    top: 4.6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .item-101-1-yiw {
    height: 12.9rem;
    position: absolute;
    left: 129rem;
    top: 5rem;
    object-fit: cover;
    vertical-align: top;
    width: 7.6rem;
  }
  .image-4-hQ3 {
    height: 13rem;
    position: absolute;
    left: 103.6rem;
    top: 4rem;
    object-fit: cover;
    vertical-align: top;
    width: 7.2rem;
  }
  .rectangle-37-doV {
    border-radius: 10rem;
    width: 14.3rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    left: 112.9rem;
    top: 0;
    background-color: #d9d9d9;
  }
  .save-MzP {
    width: 5.9rem;
    position: absolute;
    justify-content: center;
    line-height: 1.2125;
    font-style: italic;
    font-family: Inter, 'Source Sans Pro';
    height: 3.1rem;
    left: 117.1rem;
    font-weight: 600;
    font-size: 2.5rem;
    top: 2.2rem;
    display: flex;
    align-items: center;
    color: #000000;
    white-space: nowrap;
  }
  .white-paper-texture-5-59h {
    object-fit: cover;
    vertical-align: top;
    width: 22.1rem;
    height: 14.7rem;
    position: absolute;
    left: 3.9rem;
    top: 25.1rem;
  }
  .white-paper-texture-6-Ck7 {
    top: 64.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 22.1rem;
    height: 14.7rem;
    position: absolute;
    left: 3.9rem;
  }
  .white-paper-texture-7-JHM {
    top: 44.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 22.1rem;
    height: 14.7rem;
    position: absolute;
    left: 3.9rem;
  }
}
