
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.comic-detail-page-7-t6B {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 4.4rem;
  position: relative;
  align-items: center;
  box-sizing: border-box;

  .auto-group-lg5v-oD9 {
    box-sizing: border-box;
    width: 100%;
    height: 15.9rem;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 0.1rem;
    display: flex;
    align-items: center;
    padding-right: 8.3rem;

    .image-3-6CF {
      margin: 0.9rem 1.7rem 0rem 0rem;
      width: 15.4rem;
      height: 13.6rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .inkverse-CFH {
      flex-shrink: 0;
      margin: 0rem 8.3rem 9rem 0rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2102272034;
      letter-spacing: 0.4rem;
      color: #000000;
      align-items: baseline;
      cursor: pointer;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;

      .inkverse-CFH-sub-0 {
        font-style: italic;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        letter-spacing: 0.4rem;
      }
      .inkverse-CFH-sub-1 {
        letter-spacing: 0.5rem;
        color: #000000;
        font-family: Sedgwick Ave Display, 'Source Sans Pro';
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .inkverse-CFH-sub-2 {
        font-size: 5.5rem;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.55rem;
        color: #fe8017;
        font-family: Sedgwick Ave Display, 'Source Sans Pro';
      }
      .inkverse-CFH-sub-3 {
        font-family: Sedgwick Ave Display, 'Source Sans Pro';
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.5rem;
        color: #000000;
      }
    }
    .create-N5D {
      font-family: Sedan, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      line-height: 1.2575;
      cursor: pointer;
      font-size: 4rem;
      font-weight: 400;
      color: #000000;
      margin: 1.6rem 2.9rem 0rem 0rem;
    }
    .pricing-UP9 {
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Sedan, 'Source Sans Pro';
      margin: 1.6rem 3.2rem 0rem 0rem;
    }
    .buy-sell-aSB {
      cursor: pointer;
      font-weight: 400;
      font-family: Sedan, 'Source Sans Pro';
      white-space: nowrap;
      margin: 2.4rem 30rem 0rem 0rem;
      line-height: 1.2575;
      color: #000000;
      flex-shrink: 0;
      font-size: 4rem;
    }
    .item-2120967-2-583 {
      height: 4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.1rem 4.7rem 0rem 0rem;
      width: 4rem;
    }
    .item-9131549-4-nYF {
      width: 7.5rem;
      height: 7.2rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.1rem;
    }
  }
  .rectangle-52-trB {
    width: 100%;
    height: 4.7rem;
    background-color: #b3a7a7;
    flex-shrink: 0;
    margin-bottom: 3.5rem;
  }
  .auto-group-hguu-qFd {
    box-sizing: border-box;
    padding: 4.1rem 19.2rem 8.2rem 20.2rem;
    flex-direction: column;
    margin: 0 3.4rem;
    align-items: center;
    display: flex;
    background-color: #d9d9d9;
    border-radius: 3rem;
    flex-shrink: 0;
    width: calc(100% - 6.8rem);

    .auto-group-7zyh-wJf {
      margin: 0rem 0rem 2.2rem 0.7rem;
      width: calc(100% - 0.7rem);
      height: 54.2rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-yjwh-4PH {
        flex-shrink: 0;
        margin-right: 8.2rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .item-7997882807-5-PAf {
          flex-shrink: 0;
          margin-bottom: 4.2rem;
          width: 33.1rem;
          height: 46.9rem;
          object-fit: cover;
          vertical-align: top;
        }
        .price-749-ueo {
          font-weight: 400;
          letter-spacing: 0.24rem;
          color: #000000;
          align-items: baseline;
          flex-shrink: 0;
          font-size: 2.4rem;
          line-height: 1.25;
          font-family: Jua, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;

          .price-749-ueo-sub-0 {
          }
          .price-749-ueo-sub-1 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.24rem;
            color: #000000;
            font-family: Knewave, 'Source Sans Pro';
          }
          .price-749-ueo-sub-2 {
          }
        }
      }
      .auto-group-b49m-fXV {
        flex-direction: column;
        flex-shrink: 0;
        display: flex;

        .comic-book-detail-2cw {
          letter-spacing: 0.35rem;
          font-family: Jua, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2.5rem 2rem;
          font-weight: 400;
          color: #000000;
          font-size: 3.5rem;
          line-height: 1.25;
        }
        .title-amazing-spider-man-item-id-314585-publisher-marvel-items-1-grading-company-cgc-serial-15484651-grade-vh-35-page-quality-off-white-to-white-description-right-edge-trimmed-publication-date-march-1963-story-the-chameleon-stikes-script-stan-lee-pencils-jack-kriby-ink-steve-ditko-characters-spider-manpeter-parkerfantastic-four-the-thingsben-grimmmrfantasticreed-richardsinvisble-girlsue-storm-key-issue-1-iEs {
          color: #000000;
          font-family: Jua, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 55.8rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
    }
    .auto-group-kkhv-enj {
      height: 5.2rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-right: 63.2rem;
      width: calc(100% - 63.2rem);

      .auto-group-fgmd-nP9 {
        box-sizing: border-box;
        padding: 0.3rem 1.8rem 0.3rem 0.7rem;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #d9d9d9;
        flex-shrink: 0;
        height: 5rem;
        align-items: center;
        border-radius: 2rem;

        .item-14618301-5-7AX {
          margin: 0rem 1.3rem 0.5rem 0rem;
          width: 3rem;
          height: 3.9rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .add-to-cart-dPm {
          cursor: pointer;
          font-size: 1.7rem;
          color: #000000;
          white-space: nowrap;
          font-family: Jua, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-weight: 400;
          line-height: 1.25;
          letter-spacing: 0.17rem;
        }
      }
      .auto-group-7cab-gN3 {
        width: 17.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-57-DMy {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2rem;
          cursor: pointer;
          position: absolute;
          top: 0.2rem;
          background-color: #d9d9d9;
          width: 17.3rem;
          height: 5rem;
          left: 0;
        }
        .item-14618301-6-sBd {
          object-fit: cover;
          vertical-align: top;
          width: 2.9rem;
          height: 3.9rem;
          position: absolute;
          left: 2.6rem;
          top: 0;
        }
        .buy-now-Pvf {
          width: 7.4rem;
          height: 2.2rem;
          left: 8.1rem;
          top: 1.1rem;
          font-size: 1.7rem;
          line-height: 1.25;
          font-family: Jua, 'Source Sans Pro';
          position: absolute;
          font-weight: 400;
          letter-spacing: 0.17rem;
          color: #000000;
          white-space: nowrap;
        }
      }
    }
  }
}
