
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.items-page-4--8mV {
  display: flex;
  padding-bottom: 0.1rem;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #a4a0a0;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .auto-group-y6hu-fmR {
    height: 20.1rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 0.1rem;
    width: 100%;

    .rectangle-18-PxK {
      height: 4.5rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #c65b5b;
      width: 144rem;
    }
    .rectangle-20-wU3 {
      height: 12.4rem;
      position: absolute;
      left: 0;
      top: 4.3rem;
      background-color: #8dac35;
      width: 144rem;
    }
    .inkverse-H27 {
      line-height: 1.2102272034;
      letter-spacing: 0.3rem;
      display: flex;
      width: 12.9rem;
      cursor: pointer;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      height: 3.8rem;
      top: 0;
      font-size: 3rem;
      color: #000000;
      position: absolute;
      left: 6rem;

      .inkverse-H27-sub-0 {
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 400;
      }
      .inkverse-H27-sub-1 {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.3rem;
        color: #000000;
        font-family: Sedgwick Ave Display, 'Source Sans Pro';
      }
      .inkverse-H27-sub-2 {
        line-height: 1.25;
        letter-spacing: 0.3rem;
        color: #fe811d;
        font-family: Sedgwick Ave Display, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 400;
      }
      .inkverse-H27-sub-3 {
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.3rem;
        color: #000000;
        font-family: Sedgwick Ave Display, 'Source Sans Pro';
        font-size: 3rem;
      }
    }
    .image-1-yhZ {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 5.1rem;
      height: 4.3rem;
      cursor: pointer;
      position: absolute;
      left: 0;
    }
    .scenes-XUB {
      cursor: pointer;
      display: flex;
      font-size: 2.5rem;
      font-family: Inter, 'Source Sans Pro';
      width: 8.7rem;
      left: 21.95rem;
      top: 0.5rem;
      align-items: center;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      height: 3.1rem;
      position: absolute;
      justify-content: center;
      line-height: 1.2125;
    }
    .characters-QXy {
      height: 3.1rem;
      display: flex;
      justify-content: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      left: 34.65rem;
      top: 0.5rem;
      font-weight: 400;
      white-space: nowrap;
      cursor: pointer;
      align-items: center;
      width: 13.1rem;
      position: absolute;
      font-size: 2.5rem;
      color: #000000;
    }
    .items-i2s {
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      top: 0.5rem;
      font-size: 2.5rem;
      line-height: 1.2125;
      width: 6.9rem;
      height: 3.1rem;
      left: 52.65rem;
    }
    .shapes-DVR {
      top: 0.1rem;
      font-size: 2.5rem;
      position: absolute;
      font-weight: 400;
      color: #000000;
      left: 66.6rem;
      justify-content: center;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.8rem;
      height: 3.1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      line-height: 1.2125;
    }
    .rectangle-25-751 {
      position: absolute;
      left: 129.7rem;
      top: 0;
      background-color: #d9d9d9;
      border-radius: 10rem;
      width: 14.3rem;
      height: 4.5rem;
    }
    .upload-eKq {
      height: 3.1rem;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      font-weight: 600;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      left: 132.25rem;
      align-items: center;
      top: 0.7rem;
      font-size: 2.5rem;
      font-style: italic;
      color: #000000;
      width: 8.6rem;
      position: absolute;
    }
    .image-5-ptX {
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 9.8rem;
      height: 12.6rem;
      position: absolute;
      left: 2.6rem;
    }
    .image-6-Z5R {
      width: 12.4rem;
      height: 12.4rem;
      position: absolute;
      left: 22rem;
      top: 3.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-7-HGK {
      left: 45.1rem;
      top: 5.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 18.3rem;
      height: 9.3rem;
      position: absolute;
    }
    .image-8-Qrj {
      width: 21.9rem;
      height: 11.8rem;
      position: absolute;
      left: 73.2rem;
      top: 4.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-9-MX5 {
      object-fit: cover;
      vertical-align: top;
      width: 10.9rem;
      height: 12.8rem;
      position: absolute;
      left: 125.8rem;
      top: 3.9rem;
    }
    .image-10-gZM {
      left: 104.9rem;
      top: 3.9rem;
      object-fit: cover;
      vertical-align: top;
      width: 7.7rem;
      height: 12.1rem;
      position: absolute;
    }
    .rectangle-38-27R {
      position: absolute;
      left: 112.6rem;
      top: 0;
      background-color: #d9d9d9;
      border-radius: 10rem;
      width: 14.3rem;
      height: 4.5rem;
      cursor: pointer;
    }
    .save-kZD {
      left: 116.8rem;
      font-weight: 600;
      top: 2.2rem;
      display: flex;
      align-items: center;
      font-size: 2.5rem;
      white-space: nowrap;
      width: 5.9rem;
      height: 3.1rem;
      position: absolute;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      line-height: 1.2125;
      font-style: italic;
    }
  }
  .auto-group-fd5z-TCj {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 85.5rem;

    .auto-group-6f6w-Cg7 {
      box-sizing: border-box;
      padding: 8.2rem 4rem 21rem 3.9rem;
      align-items: center;
      display: flex;
      background-color: #9fb8b8;
      flex-shrink: 0;
      margin: 0.1rem 0rem 0.2rem 0rem;
      width: 30rem;
      height: calc(100% - 0.3rem);
      flex-direction: column;

      .auto-group-gxaf-4yD {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        box-sizing: border-box;
        padding-top: 0.1rem;
        width: 100%;
        background-color: #fffdfd;

        .white-paper-texture-8-neK {
          object-fit: cover;
          vertical-align: top;
          width: 22.1rem;
          height: 14.7rem;
        }
      }
      .page-1-X67 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 2.8rem 10.1rem;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.1975;
        color: #000000;
        font-family: Inria Sans, 'Source Sans Pro';
      }
      .auto-group-ysu1-qsV {
        margin-bottom: 0.2rem;
        width: 100%;
        height: 14.8rem;
        background-color: #fffdfd;
        flex-shrink: 0;

        .white-paper-texture-9-nGw {
          width: 22.1rem;
          height: 14.7rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .page-2-KXm {
        color: #000000;
        font-family: Inria Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 2.8rem 10.9rem;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.1975;
      }
      .auto-group-8ssk-SsH {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 100%;
        height: 14.8rem;
        background-color: #fffdfd;

        .white-paper-texture-10-bVH {
          width: 22.1rem;
          height: 14.7rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .page-3-LSs {
        font-weight: 300;
        line-height: 1.1975;
        color: #000000;
        font-family: Inria Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 10.9rem;
        font-size: 1.5rem;
      }
    }
    .auto-group-xl1u-TnP {
      background-color: #d9d9d9;
      flex-shrink: 0;
      width: 114rem;
      height: 100%;
      position: relative;

      .rectangle-24-cvB {
        height: 73.1rem;
        position: absolute;
        left: 8.7rem;
        top: 6.2rem;
        background-color: #d9d9d9;
        width: 97.9rem;
      }
      .white-paper-texture-1-AB1 {
        width: 98.4rem;
        height: 73.1rem;
        position: absolute;
        left: 8.7rem;
        top: 6.2rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
}
