
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-page-3-hXD {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7799999714);
  width: 100%;
  height: 102.4rem;
  position: relative;

  .rectangle-56-1no {
    width: 136.1rem;
    height: 92.2rem;
    position: absolute;
    left: 4.4rem;
    top: 4.9rem;
    background-color: rgba(0, 0, 0, 0.6000000238);
    border-radius: 3rem;
  }
  .rectangle-2-iSK {
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 144rem;
  }
  .rectangle-4-4FH {
    left: 47.2rem;
    top: 60.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 49.9rem;
    height: 6.6rem;
    cursor: pointer;
    position: absolute;
  }
  .rectangle-5-yd9 {
    width: 49.9rem;
    height: 6.6rem;
    cursor: pointer;
    position: absolute;
    left: 47.2rem;
    top: 51.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-3-KBD {
    object-fit: contain;
    vertical-align: top;
    width: 49.9rem;
    height: 6.6rem;
    cursor: pointer;
    position: absolute;
    left: 47.2rem;
    top: 42.3rem;
  }
  .sign-in-with-google-Faf {
    display: flex;
    align-items: center;
    width: 22.9317rem;
    height: 2.4148rem;
    position: absolute;
    left: 56.442rem;
    top: 45.025rem;

    .vector-ZLT {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.291rem 0.476rem 0rem;
      width: 1.3104rem;
      height: 1.875rem;
    }
    .vector-5pb {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.274rem 0.54rem 0rem;
      width: 0.2983rem;
      height: 1.875rem;
    }
    .vector-pGP {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.494rem 0.384rem 0rem 0rem;
      width: 1.2038rem;
      height: 1.9212rem;
    }
    .vector-Kiw {
      width: 1.0795rem;
      height: 1.3814rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.114rem 0.046rem 0rem;
    }
    .vector-eWK {
      height: 1.8182rem;
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 0.413rem 0.483rem 0rem;
      width: 0.2202rem;
    }
    .vector-yoV {
      margin: 0rem 0.948rem 0.046rem 0rem;
      width: 1.0795rem;
      height: 1.3814rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-WoR {
      margin: 0rem 0.203rem 0.483rem 0rem;
      width: 2.2656rem;
      height: 1.8182rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-44F {
      width: 0.2983rem;
      height: 1.875rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.224rem 0.54rem 0rem;
    }
    .vector-nkw {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.32rem 0.337rem 0rem;
      width: 0.7315rem;
      height: 1.7081rem;
      object-fit: contain;
    }
    .vector-vcF {
      margin: 0rem 1.044rem 0.483rem 0rem;
      width: 1.0938rem;
      height: 1.8182rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-4TZ {
      height: 1.8679rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.285rem 0.483rem 0rem;
      width: 1.5518rem;
    }
    .vector-Pkj {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.256rem 0.018rem 0rem;
      width: 1.2358rem;
      height: 1.4098rem;
      object-fit: contain;
    }
    .vector-LR5 {
      margin: 0rem 0.256rem 0.018rem 0rem;
      width: 1.2358rem;
      height: 1.4098rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-5Nf {
      width: 1.2038rem;
      height: 1.9212rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.494rem 0.384rem 0rem 0rem;
    }
    .vector-ctP {
      margin: 0rem 0.32rem 0.483rem 0rem;
      width: 0.2095rem;
      height: 1.8182rem;
      background-color: #ffffff;
      flex-shrink: 0;
    }
    .vector-xST {
      flex-shrink: 0;
      margin-bottom: 0.0178rem;
      width: 1.2003rem;
      height: 1.4098rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .vector-6oZ {
    width: 3.7556rem;
    height: 3.8406rem;
    position: absolute;
    left: 49.1357rem;
    top: 52.1797rem;
    object-fit: contain;
    vertical-align: top;
  }
  .vector-r23 {
    vertical-align: top;
    width: 4.027rem;
    height: 4.1181rem;
    position: absolute;
    left: 49.1rem;
    top: 52.2rem;
    object-fit: contain;
  }
  .vector-z8F {
    width: 2.179rem;
    height: 1.499rem;
    position: absolute;
    left: 51.221rem;
    top: 52.7816rem;
    object-fit: contain;
    vertical-align: top;
  }
  .vector-KRR {
    vertical-align: top;
    width: 5.4rem;
    height: 5.4rem;
    position: absolute;
    left: 48.0041rem;
    top: 42.9rem;
    object-fit: contain;
  }
  .vector-rgF {
    vertical-align: top;
    width: 5.3179rem;
    height: 5.3179rem;
    position: absolute;
    left: 48.0451rem;
    top: 42.9rem;
    object-fit: contain;
  }
  .vector-Ck7 {
    width: 1.8571rem;
    height: 2.0476rem;
    position: absolute;
    left: 49.2rem;
    top: 61.6rem;
    background-color: #f35325;
  }
  .vector-jk3 {
    width: 1.8571rem;
    height: 2.0476rem;
    position: absolute;
    left: 51.2429rem;
    top: 61.6rem;
    background-color: #81bc06;
  }
  .vector-g9V {
    width: 1.8571rem;
    height: 2.0476rem;
    position: absolute;
    left: 49.2rem;
    top: 63.8524rem;
    background-color: #05a6f0;
  }
  .vector-DfD {
    background-color: #ffba08;
    width: 1.8571rem;
    height: 2.0476rem;
    position: absolute;
    left: 51.2429rem;
    top: 63.8524rem;
  }
  .inkverse-kv3 {
    top: 17.2rem;
    display: flex;
    align-items: center;
    width: 13.7841rem;
    height: 5.5rem;
    position: absolute;
    left: 65rem;

    .auto-group-zu2f-5hR {
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.8rem 0.536rem 1.155rem 0rem;
      height: 100%;
      display: flex;

      .vector-15H {
        margin-right: 0.5783rem;
        width: 0.3082rem;
        height: 2.5455rem;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .vector-LdM {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.6115rem;
        width: 1.5114rem;
        height: 1.9339rem;
        object-fit: contain;
      }
    }
    .auto-group-wakf-t95 {
      width: 5.6822rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 0.4462rem;

      .vector-2FH {
        vertical-align: top;
        width: 1.6804rem;
        height: 1.9737rem;
        position: absolute;
        left: 4.0018rem;
        top: 2.4115rem;
        object-fit: contain;
      }
      .vector-ZW7 {
        vertical-align: top;
        width: 1.5859rem;
        height: 2.5455rem;
        position: absolute;
        left: 0;
        top: 1.8rem;
        object-fit: contain;
      }
      .v-iP1 {
        white-space: nowrap;
        position: absolute;
        top: 0;
        font-size: 4.5rem;
        font-weight: 400;
        color: #ffb700;
        width: 3.1rem;
        height: 5.5rem;
        left: 1.4661rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .vector-RHR {
      flex-shrink: 0;
      margin: 1.252rem 0.263rem 0rem 0rem;
      width: 0.9545rem;
      height: 1.9389rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-9z7 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 1.297rem 0.352rem 0rem 0rem;
      width: 1.4716rem;
      height: 1.9737rem;
      object-fit: contain;
    }
    .vector-twh {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.2967rem;
      width: 1.6804rem;
      height: 1.9737rem;
      object-fit: contain;
    }
  }
  .login-duH {
    width: 6.3339rem;
    height: 2.4212rem;
    position: absolute;
    left: 68.1rem;
    top: 23.7rem;
    display: flex;
    align-items: center;

    .vector-kj1 {
      margin: 0rem 0.213rem 0.427rem 0rem;
      width: 1.1301rem;
      height: 1.8182rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-VAo {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.036rem 0.35rem 0rem 0rem;
      width: 1.3068rem;
      height: 1.408rem;
      object-fit: contain;
    }
    .vector-RKM {
      flex-shrink: 0;
      margin: 0.5rem 0.171rem 0rem 0rem;
      width: 1.2891rem;
      height: 1.9212rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-9m9 {
      width: 0.3729rem;
      height: 1.9061rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.304rem 0.515rem 0rem;
    }
    .vector-6Ab {
      margin-top: 0.0095rem;
      width: 1.1967rem;
      height: 1.3814rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .sign-in-with-microsoft-EXh {
    width: 25.7482rem;
    height: 2.4432rem;
    position: absolute;
    left: 56.442rem;
    top: 62.6966rem;
    display: flex;
    align-items: center;

    .vector-Laj {
      margin: 0rem 0.291rem 0.447rem 0rem;
      width: 1.3104rem;
      height: 1.875rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-GjH {
      margin: 0rem 0.274rem 0.511rem 0rem;
      width: 0.2983rem;
      height: 1.875rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-z9V {
      margin: 0.522rem 0.384rem 0rem 0rem;
      width: 1.2038rem;
      height: 1.9212rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-X9R {
      flex-shrink: 0;
      margin: 0rem 1.114rem 0.018rem 0rem;
      width: 1.0795rem;
      height: 1.3814rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-ezj {
      margin: 0rem 0.413rem 0.455rem 0rem;
      width: 0.2202rem;
      height: 1.8182rem;
      background-color: #ffffff;
      flex-shrink: 0;
    }
    .vector-z31 {
      width: 1.0795rem;
      height: 1.3814rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.948rem 0.018rem 0rem;
    }
    .vector-KLB {
      width: 2.2656rem;
      height: 1.8182rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.203rem 0.455rem 0rem;
    }
    .vector-3my {
      flex-shrink: 0;
      margin: 0rem 0.224rem 0.511rem 0rem;
      width: 0.2983rem;
      height: 1.875rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-PL3 {
      margin: 0rem 0.32rem 0.309rem 0rem;
      width: 0.7315rem;
      height: 1.7081rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-vKy {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.115rem 0.455rem 0rem;
      width: 1.0938rem;
      height: 1.8182rem;
    }
    .vector-G8w {
      margin: 0rem 0.37rem 0.455rem 0rem;
      width: 1.7827rem;
      height: 1.8182rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-bh1 {
      width: 0.2983rem;
      height: 1.875rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.274rem 0.511rem 0rem;
    }
    .vector-gyM {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.011rem 0.306rem 0rem 0rem;
      width: 1.1541rem;
      height: 1.4098rem;
      object-fit: contain;
    }
    .vector-2GX {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.143rem 0.021rem 0rem;
      width: 0.6818rem;
      height: 1.3849rem;
      object-fit: contain;
    }
    .vector-ANj {
      margin: 0.011rem 0.259rem 0rem 0rem;
      width: 1.2358rem;
      height: 1.4098rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-WBh {
      height: 1.4098rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.011rem 0.251rem 0rem 0rem;
      width: 1.0511rem;
    }
    .vector-3SX {
      margin: 0.011rem 0.192rem 0rem 0rem;
      width: 1.2358rem;
      height: 1.4098rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-nQ7 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.113rem 0.54rem 0rem;
      width: 0.8026rem;
      height: 1.9034rem;
    }
    .vector-8D5 {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.309rem;
      width: 0.7315rem;
      height: 1.7081rem;
      object-fit: contain;
    }
  }
  .sign-in-with-phone-number-UGw {
    width: 32.211rem;
    height: 2.4148rem;
    position: absolute;
    left: 56.042rem;
    top: 53.625rem;
    display: flex;
    align-items: center;

    .vector-MrX {
      width: 1.3104rem;
      height: 1.875rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.291rem 0.476rem 0rem;
    }
    .vector-gto {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.274rem 0.54rem 0rem;
      width: 0.2983rem;
      height: 1.875rem;
      object-fit: contain;
    }
    .vector-pk7 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.494rem 0.384rem 0rem 0rem;
      width: 1.2038rem;
      height: 1.9212rem;
    }
    .vector-9nP {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.114rem 0.046rem 0rem;
      width: 1.0795rem;
      height: 1.3814rem;
    }
    .vector-h3D {
      margin: 0rem 0.413rem 0.483rem 0rem;
      width: 0.2202rem;
      height: 1.8182rem;
      background-color: #ffffff;
      flex-shrink: 0;
    }
    .vector-ptX {
      width: 1.0795rem;
      height: 1.3814rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.948rem 0.046rem 0rem;
    }
    .vector-NQF {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.203rem 0.483rem 0rem;
      width: 2.2656rem;
      height: 1.8182rem;
    }
    .vector-uuy {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.224rem 0.54rem 0rem;
      width: 0.2983rem;
      height: 1.875rem;
    }
    .vector-raK {
      flex-shrink: 0;
      margin: 0rem 0.32rem 0.337rem 0rem;
      width: 0.7315rem;
      height: 1.7081rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-Pq9 {
      margin: 0rem 1.115rem 0.483rem 0rem;
      width: 1.0938rem;
      height: 1.8182rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-vq5 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.326rem 0.483rem 0rem;
      width: 1.2322rem;
      height: 1.8182rem;
    }
    .vector-Ta7 {
      height: 1.8182rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.319rem 0.483rem 0rem;
      width: 1.0938rem;
    }
    .vector-CXh {
      margin: 0rem 0.32rem 0.018rem 0rem;
      width: 1.2358rem;
      height: 1.4098rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-8RM {
      width: 1.0795rem;
      height: 1.3814rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.319rem 0.046rem 0rem;
    }
    .vector-447 {
      margin: 0rem 1.05rem 0.018rem 0rem;
      width: 1.2003rem;
      height: 1.4098rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-PcB {
      margin: 0rem 0.412rem 0.483rem 0rem;
      width: 1.4418rem;
      height: 1.8182rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-jR9 {
      margin: 0rem 0.384rem 0.011rem 0rem;
      width: 1.0689rem;
      height: 1.3814rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-Udd {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.411rem 0.046rem 0rem;
      width: 1.7898rem;
      height: 1.3814rem;
      object-fit: contain;
    }
    .vector-cUw {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.257rem 0.455rem 0rem;
      width: 1.2038rem;
      height: 1.8466rem;
      object-fit: contain;
    }
    .vector-kr3 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.319rem 0.018rem 0rem;
      width: 1.2003rem;
      height: 1.4098rem;
      object-fit: contain;
    }
    .vector-W4X {
      margin-bottom: 0.0497rem;
      width: 0.6818rem;
      height: 1.3849rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .google-g-2015-logo-1-egX {
    width: 5.4rem;
    height: 5.4rem;
    position: absolute;
    left: 48.0041rem;
    top: 43.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .dont-have-account-sign-up-P8K {
    color: #ffffff;
    height: 3.1rem;
    left: 43.8rem;
    top: 72rem;
    width: 33.6rem;
    font-size: 2.5rem;
    font-weight: 400;
    display: flex;
    align-items: baseline;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    line-height: 1.2102272797;

    .dont-have-account-sign-up-P8K-sub-0 {
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.5rem;
    }
    .dont-have-account-sign-up-P8K-sub-1 {
      font-weight: 400;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.5rem;
    }
  }
  .forget-password-Cjy {
    height: 3.1rem;
    left: 83.3rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 19.9rem;
    top: 72rem;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2125;
    position: absolute;
  }
  .rectangle-6-76F {
    top: 33.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 49.9rem;
    height: 6.6rem;
    cursor: pointer;
    position: absolute;
    left: 47.1rem;
  }
  .e-mail-qH9 {
    height: 3.3rem;
    position: absolute;
    left: 71.5rem;
    top: 34.9rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 8rem;
    font-size: 2.7rem;
    line-height: 1.2125;
    color: #ffffff;
  }
  .item-542689-1-jtK {
    vertical-align: top;
    width: 5.7rem;
    height: 5rem;
    position: absolute;
    left: 49.2rem;
    top: 34.4rem;
    object-fit: cover;
  }
  .sign-in-with-google-TpK {
    width: 13.7509rem;
    height: 2.4148rem;
    position: absolute;
    left: 56.9rem;
    top: 35.5rem;
    display: flex;
    align-items: flex-start;

    .vector-a8F {
      flex-shrink: 0;
      margin: 0.032rem 0.291rem 0rem 0rem;
      width: 1.3104rem;
      height: 1.875rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-JK9 {
      height: 1.875rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.2737rem;
      width: 0.2983rem;
    }
    .vector-Ec7 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.494rem 0.384rem 0rem 0rem;
      width: 1.2038rem;
      height: 1.9212rem;
    }
    .vector-MRq {
      margin: 0.494rem 1.114rem 0rem 0rem;
      width: 1.0795rem;
      height: 1.3814rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-gj1 {
      margin: 0.057rem 0.413rem 0rem 0rem;
      width: 0.2202rem;
      height: 1.8182rem;
      background-color: #ffffff;
      flex-shrink: 0;
    }
    .vector-csZ {
      flex-shrink: 0;
      margin: 0.494rem 0.948rem 0rem 0rem;
      width: 1.0795rem;
      height: 1.3814rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-xK9 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.057rem 0.203rem 0rem 0rem;
      width: 2.2656rem;
      height: 1.8182rem;
    }
    .vector-V4B {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.2239rem;
      width: 0.2983rem;
      height: 1.875rem;
    }
    .vector-RyR {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.185rem 0.32rem 0rem 0rem;
      width: 0.7315rem;
      height: 1.7081rem;
    }
    .vector-AAK {
      margin-top: 0.0568rem;
      width: 1.0938rem;
      height: 1.8182rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
