
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.comic-list-page-6-Q9V {
  box-sizing: border-box;
  padding-bottom: 4.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R .image-2-5WX {
  margin-top: 2.2rem;
  width: 15.4rem;
  height: 13.6rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R .inkverse-1f5 {
  margin: 0rem 10rem 8.9rem 0rem;
  cursor: pointer;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.4rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R .inkverse-1f5 .inkverse-1f5-sub-0 {
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R .inkverse-1f5 .inkverse-1f5-sub-1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.5rem;
  color: #000000;
  font-family: Sedgwick Ave Display, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R .inkverse-1f5 .inkverse-1f5-sub-2 {
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.55rem;
  color: #fe8017;
  font-family: Sedgwick Ave Display, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R .inkverse-1f5 .inkverse-1f5-sub-3 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.5rem;
  color: #000000;
  font-family: Sedgwick Ave Display, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R .create-AK1 {
  margin: 3.9rem 2.9rem 0rem 0rem;
  cursor: pointer;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sedan, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R .pricing-Tou {
  margin: 3.9rem 3.2rem 0rem 0rem;
  cursor: pointer;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sedan, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R .buy-sell-PBm {
  margin: 4.7rem 27.8rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sedan, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R .item-2120967-1-6rs {
  margin: 5rem 6.4rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-pb27-w9R .item-9131549-3-cqD {
  margin-top: 5rem;
  width: 7.5rem;
  height: 7.2rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .rectangle-41-9KM {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 4.7rem;
  background-color: #a4a0a0;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 {
  margin: 0 3.4rem;
  width: calc(100% - 6.8rem);
  height: 73.9rem;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 3rem;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd {
  width: 115.7rem;
  height: 9.2rem;
  position: absolute;
  left: 8.9rem;
  top: 42.3rem;
  display: flex;
  align-items: center;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-ox3v-4aj {
  margin: 0.7rem 10.6rem 0rem 0rem;
  width: 21.4rem;
  height: 8.5rem;
  position: relative;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-ox3v-4aj .amazing-spider-man-1963-1-cgc-vg-35-restored-kirby-ditko-cover-ZXV {
  width: 21.4rem;
  height: 8.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  text-decoration-line: underline;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-ox3v-4aj .item-148-RZh {
  width: 2.4rem;
  height: 1.5rem;
  position: absolute;
  left: 9.3rem;
  top: 5.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inder, 'Source Sans Pro';
  white-space: nowrap;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-ox3v-4aj .amazing-spider-man-1963-1-cgc-vg-35-restored-kirby-ditko-cover-iYo {
  width: 21.4rem;
  height: 8.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  text-decoration-line: underline;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-ox3v-4aj .item-148-oaF {
  width: 2.4rem;
  height: 1.5rem;
  position: absolute;
  left: 9.3rem;
  top: 5.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inder, 'Source Sans Pro';
  white-space: nowrap;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-3r5m-h9q {
  margin: 0rem 10rem 0.7rem 0rem;
  width: 21.4rem;
  height: 8.5rem;
  position: relative;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-3r5m-h9q .amazing-spider-man-1963-1-cgc-vg-35-restored-kirby-ditko-cover-pET {
  width: 21.4rem;
  height: 8.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  text-decoration-line: underline;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-3r5m-h9q .item-148-uWo {
  width: 2.4rem;
  height: 1.5rem;
  position: absolute;
  left: 9.3rem;
  top: 5.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inder, 'Source Sans Pro';
  white-space: nowrap;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-3r5m-h9q .amazing-spider-man-1963-1-cgc-vg-35-restored-kirby-ditko-cover-QiT {
  width: 21.4rem;
  height: 8.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  text-decoration-line: underline;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-3r5m-h9q .item-148-JYw {
  width: 2.4rem;
  height: 1.5rem;
  position: absolute;
  left: 9.3rem;
  top: 5.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inder, 'Source Sans Pro';
  white-space: nowrap;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-4axz-1iF {
  margin: 0.5rem 9.5rem 0.2rem 0rem;
  width: 21.4rem;
  height: calc(100% - 0.7rem);
  position: relative;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-4axz-1iF .item-148-93m {
  width: 2.4rem;
  height: 1.5rem;
  position: absolute;
  left: 9.3rem;
  top: 5.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inder, 'Source Sans Pro';
  white-space: nowrap;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-4axz-1iF .item-148-T4T {
  width: 2.4rem;
  height: 1.5rem;
  position: absolute;
  left: 9.3rem;
  top: 5.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inder, 'Source Sans Pro';
  white-space: nowrap;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-4axz-1iF .amazing-spider-man-1963-1-cgc-vg-35-restored-kirby-ditko-cover-xX1 {
  width: 21.4rem;
  height: 8.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  text-decoration-line: underline;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-p83h-2mm {
  margin: 0.5rem 0rem 0.2rem 0rem;
  width: 21.4rem;
  height: calc(100% - 0.7rem);
  position: relative;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-p83h-2mm .item-148-Z11 {
  width: 2.4rem;
  height: 1.5rem;
  position: absolute;
  left: 10.6rem;
  top: 5.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inder, 'Source Sans Pro';
  white-space: nowrap;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-p83h-2mm .item-148-s1h {
  width: 2.4rem;
  height: 1.5rem;
  position: absolute;
  left: 10.6rem;
  top: 5.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inder, 'Source Sans Pro';
  white-space: nowrap;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-exmm-mbd .auto-group-p83h-2mm .amazing-spider-man-1963-1-cgc-vg-35-restored-kirby-ditko-cover-B2P {
  width: 21.4rem;
  height: 8.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  text-decoration-line: underline;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf {
  width: 108.1rem;
  height: 3.3rem;
  position: absolute;
  left: 9.7rem;
  top: 56.4rem;
  display: flex;
  align-items: center;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-oJf {
  margin: 0.7rem 19.5rem 0rem 0rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-oJf .price-749-oJf-sub-0 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-oJf .price-749-oJf-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Knewave, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-oJf .price-749-oJf-sub-2 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-YQf {
  margin: 0rem 18.9rem 0.7rem 0rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-YQf .price-749-YQf-sub-0 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-YQf .price-749-YQf-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Knewave, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-YQf .price-749-YQf-sub-2 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-VDR {
  margin: 0rem 19.7rem 0.7rem 0rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-VDR .price-749-VDR-sub-0 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-VDR .price-749-VDR-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Knewave, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-VDR .price-749-VDR-sub-2 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-GtP {
  margin-top: 0.3rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-GtP .price-749-GtP-sub-0 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-GtP .price-749-GtP-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Knewave, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jxs7-5Nf .price-749-GtP .price-749-GtP-sub-2 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd {
  width: 109.7rem;
  height: 2.5rem;
  position: absolute;
  left: 9.6rem;
  top: 53rem;
  display: flex;
  align-items: center;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-2-kBH {
  margin-top: 0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-3-tYP {
  margin-top: 0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-4-czB {
  margin-top: 0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-5-ZuR {
  margin-top: 0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-kj51-iXR {
  margin: 0.8rem 1.4rem 0rem 0rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-peby-FGT {
  margin: 0.8rem 18rem 0rem 0rem;
  width: 4.2rem;
  height: 1.5rem;
  position: relative;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-peby-FGT .item-1099-BR1 {
  width: 4.2rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-peby-FGT .item-1099-BR1 .item-1099-BR1-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-peby-FGT .item-1099-BR1 .item-1099-BR1-sub-1 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-peby-FGT .line-2-AXq {
  width: 4.1rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
  background-color: #000000;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-27-6gP {
  margin-bottom: 0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-28-SVM {
  margin-bottom: 0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-30-arT {
  margin-bottom: 0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-29-L4w {
  margin-bottom: 0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-exit-gPh {
  margin: 0rem 1.3rem 0.6rem 0rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-s6zm-QKh {
  margin: 0rem 17.4rem 0.6rem 0rem;
  width: 4.2rem;
  height: 1.5rem;
  position: relative;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-s6zm-QKh .item-1099-Xv7 {
  width: 4.2rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-s6zm-QKh .item-1099-Xv7 .item-1099-Xv7-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-s6zm-QKh .item-1099-Xv7 .item-1099-Xv7-sub-1 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-s6zm-QKh .line-3-kH5 {
  width: 4.1rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
  background-color: #000000;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-31-4oZ {
  margin-bottom: 0.4rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-32-1D1 {
  margin-bottom: 0.4rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-34-9KD {
  margin-bottom: 0.4rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-33-HgK {
  margin-bottom: 0.4rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-urm9-E5m {
  margin: 0rem 1.3rem 0.8rem 0rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-59h9-kK1 {
  margin: 0rem 17.9rem 0.6rem 0rem;
  width: 4.2rem;
  height: 1.5rem;
  position: relative;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-59h9-kK1 .item-1099-gCf {
  width: 4.2rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-59h9-kK1 .item-1099-gCf .item-1099-gCf-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-59h9-kK1 .item-1099-gCf .item-1099-gCf-sub-1 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-59h9-kK1 .line-4-u5R {
  width: 4.1rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
  background-color: #000000;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-35-2vj {
  margin-top: 0.6rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-36-NUo {
  margin-top: 0.6rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-38-7xB {
  margin-top: 0.6rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .star-37-UXq {
  margin: 0.6rem 0.7rem 0rem 0rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-h2bq-QgP {
  margin-right: 0.9rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-2zbm-wAX {
  margin: 0.7rem 0rem 0.3rem 0rem;
  width: 4.2rem;
  height: calc(100% - 1rem);
  position: relative;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-2zbm-wAX .item-1099-UAT {
  width: 4.2rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-2zbm-wAX .item-1099-UAT .item-1099-UAT-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.12rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-2zbm-wAX .item-1099-UAT .item-1099-UAT-sub-1 {
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-h4lf-ffd .auto-group-2zbm-wAX .line-5-gnK {
  width: 4.1rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
  background-color: #000000;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm {
  width: 113.4rem;
  height: 5.6rem;
  position: absolute;
  left: 8.9rem;
  top: 60.1rem;
  display: flex;
  align-items: flex-end;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-see3-wy9 {
  margin: 0.6rem 14.5rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.3rem 1.5rem 1.1rem 0.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-see3-wy9 .item-14618301-1-RdR {
  margin-right: 2.2rem;
  width: 2.4rem;
  height: 2.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-see3-wy9 .add-to-cart-Yi3 {
  margin-top: 0.4rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-sxfq-2NK {
  margin: 0.4rem 15.9rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.3rem 1.5rem 1.1rem 0.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-sxfq-2NK .item-14618301-2-wEP {
  margin-right: 2.2rem;
  width: 2.4rem;
  height: 2.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-sxfq-2NK .add-to-cart-55h {
  margin-top: 0.4rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-yu5h-mDR {
  margin: 0.4rem 13.8rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.3rem 1.5rem 1.1rem 0.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-yu5h-mDR .item-14618301-3-GAB {
  margin-right: 2.2rem;
  width: 2.4rem;
  height: 2.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-yu5h-mDR .add-to-cart-Pkb {
  margin-top: 0.4rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-sqdq-Un3 {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 1.3rem 1.5rem 1.1rem 0.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-sqdq-Un3 .item-14618301-4-Qfh {
  margin-right: 2.2rem;
  width: 2.4rem;
  height: 2.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-kpuk-dBm .auto-group-sqdq-Un3 .add-to-cart-wfd {
  margin-top: 0.4rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jws9-2wy {
  box-sizing: border-box;
  padding: 1.1rem 1.7rem 1.1rem 3.3rem;
  width: 17.3rem;
  height: 5rem;
  position: absolute;
  left: 115.9rem;
  top: 0.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jws9-2wy .latest-ipo {
  margin-right: 2.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.22rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-jws9-2wy .item-154710-1-whZ {
  width: 2.1rem;
  height: 1.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-qkmv-FCT {
  width: 115.6rem;
  height: 32.2rem;
  position: absolute;
  left: 8.9rem;
  top: 8.6rem;
  display: flex;
  align-items: center;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-qkmv-FCT .item-7997882807-1-AqD {
  margin-right: 10.2rem;
  width: 21.6rem;
  height: 32.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-qkmv-FCT .item-7997882807-2-JRd {
  margin-right: 9.5rem;
  width: 21.6rem;
  height: 32.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-qkmv-FCT .item-7997882807-3-2Md {
  margin-right: 9.5rem;
  width: 21.6rem;
  height: 32.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comic-list-page-6-Q9V .auto-group-vjz3-5D1 .auto-group-qkmv-FCT .item-7997882807-4-Meo {
  width: 21.6rem;
  height: 32.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
