
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pricing-page-5-HCj {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.pricing-page-5-HCj .auto-group-rmrp-DcB {
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-rmrp-DcB .image-2-xpf {
  margin-top: 2.3rem;
  width: 15.4rem;
  height: 13.6rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-rmrp-DcB .inkverse-Vpb {
  margin: 0rem 80rem 9rem 0rem;
  cursor: pointer;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.4rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-rmrp-DcB .inkverse-Vpb .inkverse-Vpb-sub-0 {
}
.pricing-page-5-HCj .auto-group-rmrp-DcB .inkverse-Vpb .inkverse-Vpb-sub-1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.5rem;
  color: #000000;
  font-family: Sedgwick Ave Display, 'Source Sans Pro';
}
.pricing-page-5-HCj .auto-group-rmrp-DcB .inkverse-Vpb .inkverse-Vpb-sub-2 {
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.55rem;
  color: #fe8017;
  font-family: Sedgwick Ave Display, 'Source Sans Pro';
}
.pricing-page-5-HCj .auto-group-rmrp-DcB .inkverse-Vpb .inkverse-Vpb-sub-3 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.5rem;
  color: #000000;
  font-family: Sedgwick Ave Display, 'Source Sans Pro';
}
.pricing-page-5-HCj .auto-group-rmrp-DcB .item-2120967-2-REP {
  margin: 3.1rem 7.3rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-rmrp-DcB .item-9131549-2-Y47 {
  margin-top: 1.9rem;
  width: 7.5rem;
  height: 7.2rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.pricing-page-5-HCj .rectangle-41-4YF {
  width: 100%;
  height: 4.7rem;
  background-color: #a4a0a0;
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-igit-pGX {
  box-sizing: border-box;
  padding: 14.1rem 20.1rem 13.8rem 17.1rem;
  width: 100%;
  height: 88.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-11-bg-R1y.png');
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-igit-pGX .auto-group-soo5-Xgj {
  margin: 0rem 5rem 3.7rem 3.6rem;
  width: calc(100% - 8.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-igit-pGX .auto-group-soo5-Xgj .starter-rj1 {
  margin: 0rem 39.1rem 0.6rem 0rem;
  font-size: 8rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.8rem;
  color: #000000;
  font-family: Sedgwick Ave Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-igit-pGX .auto-group-soo5-Xgj .premium-Ajh {
  margin-top: 0.6rem;
  font-size: 8rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.8rem;
  color: #000000;
  font-family: Sedgwick Ave Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-igit-pGX .auto-group-izgt-UkP {
  margin: 0rem 0.3rem 7.1rem 0rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-igit-pGX .auto-group-izgt-UkP .library-with-up-to-40-books-create-books-with-a-range-of-multimedia-tools-appsmash-with-other-educational-apps-100-accessibility-features-read-with-word-highlighting-text-to-voice-publish-books-online-in-app-certification-course-access-to-lesson-ideas-example-books-resources-pJT {
  margin-right: 37.3rem;
  max-width: 35.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.2rem;
  color: #000000;
  font-family: Sedan, 'Source Sans Pro';
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-igit-pGX .auto-group-izgt-UkP .all-starter-plan-features-create-unlimited-libraries-1000-books-real-time-collaboration-support-for-co-teachers-access-to-premium-apps-analytics-map-see-where-your-books-have-been-read-in-app-chat-support-oAP {
  max-width: 37.2rem;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.23rem;
  color: #000000;
  font-family: Sedan, 'Source Sans Pro';
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-igit-pGX .auto-group-mjzj-2oq {
  margin-left: 3.6rem;
  width: calc(100% - 3.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-igit-pGX .auto-group-mjzj-2oq .image-12-BRq {
  margin: 0.1rem 40rem 0rem 0rem;
  width: 32.5rem;
  height: 7.4rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.pricing-page-5-HCj .auto-group-igit-pGX .auto-group-mjzj-2oq .image-13-JWT {
  width: 34.1rem;
  height: 9.3rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
